body {
  background: #fffff8;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

#app {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  /* grid-template-columns:  */
  height: 100vh;
  background: #ffffff;
  color: rgb(15, 100, 228);
  justify-content: center;
  grid-gap: 1em;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

.holder .headline {
  margin-top: 0;
}

.entry {
  background: rgba(59, 74, 107, 0.4);
  border: 3px solid rgb(15, 100, 228);
  border-radius: 25px;
  text-indent: 1em;
}

#date {
  color: rgb(156, 10, 214);
}

#temp {
  color: rgb(247, 80, 29);
}

.headline {
  font-size: 35px;
  margin: auto;
  text-decoration: underline;
  color: rgb(40, 24, 87);
}
.title {
  text-indent: 1em;
  text-decoration: underline;
  color: rgb(40, 24, 87);
}

/*  Basic Styling To Override Default For Basic HTML Elements */
label {
  display: block;
  font-size: 25px;
  text-indent: 0.7em;
}

input {
  display: block;
  height: 40px;
  border: 3px solid rgb(15, 100, 228);
  border-radius: 25px;
  width: 320px;
  text-indent: 1em;

  background: #22b2da;
  color: #fff;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}

button {
  display: block;
  width: 200px;
  height: 40px;
  margin: 25px auto 0;

  cursor: pointer;
  border-radius: 25px;
  background: #3b4a6b;
  color: #fff;
  font-size: 26px;
  font-family: "Oswald", sans-serif;
  border: none;
  box-shadow: 2px 4px 5px #444;
}
h1 {
  font-size: 36px;
}

textarea {
  height: 40px;
  border: 3px solid rgb(15, 100, 228);
  border-radius: 25px;
  width: 320px;
  text-indent: 1em;
  background: #22b2da;
  color: #fff;
  font-size: 20px;
  font-family: "Oswald", sans-serif;
}
/* Reset style for HTML element on active to have no border*/
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}
/* Style for Placeholder Text*/
::placeholder {
  /* Firefox, Chrome, Opera */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #f0d43a;
  font-family: "Oswald", sans-serif;
}
